POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=admin_db

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=${DATABASE_URL}
GOOSE_MIGRATION_DIR=backend/internal/db/migrations

JWT_SECRET=code-colosseum-development-secret-2026
API_ENV=prod
